
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#home{
	background-image: url("https://images.unsplash.com/photo-1580508244245-c446ca981a6b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	position:relative;
    margin: 150px;
    margin-top: 50px;
	
}

#skills{
    background-image: url("./pinkink.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	position:relative;
    margin: 150px;
    margin-top: 50px;
}

#projects{
    background-image: url("./pinksky.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	position:relative;
    margin: 150px;
    margin-top: 50px;  
}

#contact{
    background-image: url("./pinkcloud.jpg");
    background-repeat: no-repeat;
	background-size: cover;
	position:relative;
    margin: 150px;
    margin-top: 50px; 
}

#profilepic{
    width: 500px;
    border-radius: 50%;
}

#logos{
    width:150px;
}

nav {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    margin-top: 20px;
}

.crumb {
	margin-right: 2em;
	display: inline;
	
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

a{
    text-decoration: none;
    font-size: larger;
    color: rgb(231, 98, 120)
}

.crumb:hover{
    color: rgb(193, 60, 193);
    font-weight: 500;
}

.link:hover{
    color: rgb(193, 60, 193);
    font-weight: 500;
}

#email{
    text-decoration: underline;
    font-size: larger;
    color: rgb(231, 98, 120) 
}

.Title{
    height: 220px;
    font-size: 200px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.homeTitle{
    font-size: 100px;
}

#bio{
    flex-wrap: wrap;
    width: auto;
}

#skillsdes{
    padding: 10px;
}
#homeContainer{
    padding: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 150px;
    margin-bottom: 100px;
    border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#contact2{
    padding: 60px;
    padding-left: 250px;
    padding-right: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

button{
    border: none;
    background: none;
    padding-top: 50px;
}